---
title: HSL
description: HSL values simplified for light and dark mode.
date: 2023-08-01
tags: colors
layout: colors
css: /assets/css/colors/colors.css
---
<table>
  <thead>
    <tr>
      <th scope="col">variable</th>
      <th scope="col">base</th>
      <th scope="col">light</th>
      <th scope="col">hsl</th>
      <th scope="col">dark</th>
      <th scope="col">hsl</th>
    </tr>
  </thead>
  <tbody>
    {% assign variables = colorList | sort: "no" %}
    {%- for colors in variables %}
      <tr>
        <td>{{ colors.variable }}</td>
        <td>{{ colors.color-light }}</td>
        <td>
          <button style="background-color:{{ colors.light }}";></button>
        </td>
        <td>{{ colors.hsl-light-simple }}</td>
        <td>
          <button style="background-color:{{ colors.dark }}";></button>
        </td>
        <td>{{ colors.hsl-dark-simple }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>